.header {
    background-color: #ebecee;
    background: url("../images/main_bg.jpg") no-repeat;
    background-size: cover;
    min-height: 1090px;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    
    
}

.header-nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr;
    align-items: center;
    list-style: none;
    
}

.header-logo {
    margin-left: 72px;
    
    
}

li a {
    text-decoration: none;
    color:#333333;
    font-family: Ubuntu;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    ;
}

li a:hover {
    color: #BD8B78;
}

.nav-button {
    color:#333333;
    font-family: Ubuntu;
    font-weight: 700;
    font-size: 14px;
     background-color: #ffffff;
     padding: 20px 38px;
     border-radius: 50px;
     text-transform: uppercase;

}

.nav-button:hover {
    background-color: #DBDCDC;
}
.header-title {
    margin-top: 200px;
    margin-left: 72px;
}
.header-title h1 {
    
    font-family: Ubuntu;
    font-weight: 300;
    color:#222222;
    font-size: 48px;

}

.header-button {
    color:#333333;
    font-family: Ubuntu;
    font-weight: 700;
    font-size: 14px;
    background-color: #ffffff;
    padding: 20px 67px;
    border-radius: 50px;
    text-transform: uppercase;
    margin-top: 43px;
    margin-left: 150px;
    text-decoration: none;
}

.header-button:hover {
    background-color: #DBDCDC;
}