.header {
    background-color: #ebecee;
    background: url("../images/main_bg.jpg") no-repeat;
    background-size: cover;
    min-height: 1090px;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    
    
}

.header-nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr;
    align-items: center;
    list-style: none;
    
}

.header-logo {
    margin-left: 72px;
    margin-top: 50px;
    
    
}

li a {
    text-decoration: none;
    color:#333333;
    font-family: Ubuntu;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    ;
}

li a:hover {
    color: #BD8B78;
}

.nav-button {
    color:#333333;
    font-family: Ubuntu;
    font-weight: 700;
    font-size: 14px;
     background-color: #ffffff;
     padding: 20px 38px;
     border-radius: 50px;
     text-transform: uppercase;

}

.nav-button:hover {
    background-color: #DBDCDC;
}
.header-title {
    margin-top: 200px;
    margin-left: 72px;
}
.header-title h1 {
    
    font-family: Ubuntu;
    font-weight: 300;
    color:#222222;
    font-size: 48px;

}

.header-button {
    color:#333333;
    font-family: Ubuntu;
    font-weight: 700;
    font-size: 14px;
    background-color: #ffffff;
    padding: 20px 67px;
    border-radius: 50px;
    text-transform: uppercase;
    margin-top: 43px;
    margin-left: 150px;
    text-decoration: none;
}

.header-button:hover {
    background-color: #DBDCDC;
}

.perfect {
    font-family: Ubuntu;
    text-align: center;
    min-height: 730px;
    margin-top: 95px;
    margin-right: 355px;
    margin-left: 355px;    

}

.perfect-header {
    font-weight: 300;
    font-size: 30px;
}

.perfect-description {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}

.perfect-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 42px;
    grid-gap: 40px;
}

.perfect-grid__text {
    font-weight: 300;
    font-size: 22px;
    text-align: left;
    color: #333333;
    margin-top: 30px;
}

.perfect-grid__subtext {
    font-weight: 300;
    font-size: 14px;
    text-align: left;
    color: #333333;

}


.perfect-grid__photo:hover {
    box-shadow: 5px 10px 10px 5px rgba(219, 219, 223, 0.788);
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 50px;
    align-items: center;
    min-width: 640px;
    justify-content: center;
    margin: 0 50px;
    background-color: #f8f8f8;

}


.history-text {
    font-family: Ubuntu;
    font-weight: 300;
    font-size: 30px;
    text-align: left;
}

.stripe {
    border: 1px solid #000000;
    width: 35px;
    margin-top: 12px;
    margin-bottom: 27px;
    
    
}

.history:hover {
    box-shadow: 5px 10px 10px 5px rgba(219, 219, 223, 0.788);
}